*{
    /* font-family: Argentum Sans; */
    /* font-family: Manrope; */
    /* font-family: Georama; */
    overflow-y: hidden;
    /* outline: 0; */
    /* box-shadow: 0px 0px 0px black; */
}
html{
    background: rgba(189, 189, 189, 0.243);
}
.name,.active{
    transition: all .4s;
    /* display: none    ; */
}
.active:hover{
    transition: all .4s;
    color: white;
    background: darkorchid;
}
.active:hover .name{
    color: white;
    transition: all .4s;
    transform: translateX(10px);
}
.chart{
    transition: all .4s;
    cursor: pointer;
}
.chart:hover{
    transform: translateY(-10px);
}
.row *:hover{
    background: darkorchid;
    cursor: pointer;
    color: white;

}
.panel{
    transition: all .4s;
}
.panel:hover{
    box-shadow: 0px 0px 1px white;
    transition: all .4s;
}