*{
    font-family: Argentum Sans;
    /* font-family: Manrope; */
    /* overflow-y: hidden; */
    /* font-family: Georama;   */
}
html{
    background: rgba(189, 189, 189, 0.243);
}
.name,.active{
    transition: all .4s;
    /* display: none    ; */
}
.active:hover{
    transition: all .4s;
    color: white;
    background: darkorchid;
}
.active:hover .name{
    color: white;
    transition: all .4s;
    transform: translateX(10px);
}
.chart{
    transition: all .4s;
    cursor: pointer;
}
.chart:hover{
    transform: translateY(-10px);
}
.row *:hover{
    background: darkorchid;
    cursor: pointer;
    color: white;

}
.panel{
    transition: all .4s;
}
.panel:hover{
    /* box-shadow: 0px 0px 1px white; */
    transition: all .4s;
}
.empl{
    display: flex;
    justify-content: center;
}
.panels{
    display: flex;
    gap: 30px;
}

@media screen and (max-width : 720px) {
    .name{
        font-size: 10px;
        display: none;
    }
    .panels{
        display: block;
    }
}